<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /visma
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /visma/index.php [L]
</IfModule>